@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
/* Light */
@layer base {
  html, body {
    font-family: "NeueHaasDisplayBlack", sans-serif;
     font-weight: 300;
  }
}
@font-face {
  font-family: "NeueHaasDisplayBlack";
  src: url("/fonts/NeueHaasDisplayBlack/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "NeueHaasDisplayBlack";
  src: url("/fonts/NeueHaasDisplayBlack/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "NeueHaasDisplayBlack";
  src: url("/fonts/NeueHaasDisplayBlack/NeueHaasDisplayMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "NeueHaasDisplayBlack";
  src: url("/fonts/NeueHaasDisplayBlack/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "NeueHaasDisplayBlack";
  src: url("/fonts/NeueHaasDisplayBlack/NeueHaasDisplayBlackItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
